<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Mini Message Board</title>
</head>
<body>

    <h1>Messages:</h1>

    <a href="/new">
        <button>Add new message</button>
    </a>

    <% messages.forEach((message, index) => { %>
        <div class="messageWrapper">
            <h2><%= message.user %></h2>
            <h3><%= message.added.toISOString().slice(0, 10) %></h3>
            <p><%= message.text %></p>
            <a href=<%="/"+index%>>
                <button>View Message</button>
            </a>
        </div>
    <% }); %>

</body>
</html>