body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.messageWrapper, .formWrapper{
    background-color: bisque;
    width: 40vw;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.messageWrapper{
    word-wrap: break-word;
}

.formWrapper > form{
    display: flex;
    flex-direction: column;
}